#banner{
    background-color: rgb(216, 20, 20);
    width: 50%;
    height: 300px;

}

#banner .content{
    background-color: aqua;
    height: 150px;
    text-align: center;
}

nav{
    background-color: aqua;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline-block;
    font-size: 50px;
    padding: 20px;
    background-color: brown;
}

/* li.li1{
    background-color: aqua;
    display: inline;
    font-size: 9px;
    padding: 10px;
    margin: 25px;
}

li.li2{
    background-color: beige;
    display: inline;
    font-size: 15px;
    padding: 20px;
    margin: 25px;
}

li.li3{
    background-color: bisque;
    display: inline;
    font-size: 25px;
    padding: 5px;
    margin: 25px;
} */



h1{
    text-align: center;
}

#banner a{
    text-decoration: none;
    
}

#Home{
    background-color: tomato;
    padding: 50px 100px;
    border: 5px solid black;
    margin: 10px 50px 100px 200px;
}

#dog{
    background-color: chocolate;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    border: 5px dotted burlywood;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-left: 200px;
}

#cat{
    background-image: url("img/cat.jfif");
    width: 50%;
    /* display: inline; */
}

#horse{
    width: 50%;
    background: black;
    border: 1px solid;
    color: aliceblue;
    /* display: inline; */
}

#en_linea{
    display: flex;
}


/* INSPECTOR DE ELEMENTOS Ctrl + Mayus + i */