body{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#contenedor {
    max-width: 1024px;
    margin: 0 auto;
}
.cajacentro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12% auto !important;
    width: 450px;
    height: 100%;
    background-color: #ffffff;
    padding:3%;
}
.invisible{
    display: none;
}
.visible{
    display: block;
}
.seleccion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.seleccion a{
    cursor: pointer;
}
.seleccion a img{
    height: 100px;
}